---
http_interactions:
- request:
    method: get
    uri: http://www.faroo.com/api?key=<TOKEN>&l=en&length=8&q=test&src=web&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"title": "CSS3 test","kwic": "Test your browser. I got
        two different scores in Safari, although they were close. Chrome scored about
        nine points higher.","content": "","url": "http://css3test.com","iurl": "","domain":
        "css3test.com","author": "Jim Dalrymple","news": true,"votes": "10","date":
        1360622563000,"related":[]},{"title": "Test your vocabulary","kwic": "Test
        Your Vocabulary:  English has the most words of any language on Earth. TestYourVocab.com
        is part of an independent American-Brazilian research ...","content": "","url":
        "http://testyourvocab.com/","iurl": "","domain": "testyourvocab.com","author":
        "Shawn King","news": true,"votes": "10","date": 1390509127000,"related":[]},{"title":
        "Tests of general relativity - Wikipedia, the free encyclopedia","kwic": "A[...]
