---
http_interactions:
- request:
    method: get
    uri: http://www.faroo.com/api?key=<TOKEN>&l=en&length=10&q=ahtneanhean&src=web&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[],"query": "ahtneanhean","suggestions":[],"count":0,"start":1,"length":10,"time":
        "1"}'
  recorded_at: Tue, 09 Dec 2014 18:28:55 GMT
recorded_with: VCR 2.9.3
